header{
    text-align: center;
    background-color: rgb(103, 103, 255);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
}

#wrapper{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    float: left;
    width: 16%;
    background: black;
    color: white;
    text-align: center;
    
}

#main-image{
    width: 100%;
}

.small-image{
    width: 24%;

}

.middle-book{
    width: 49%;
}

.selected-image{
    border: 2px solid orangered;
}

h1{
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

hr{
    border: 1px solid black;
}

.wrapper  {
    width: 75%;
    margin: 0 auto
}

.otherbooks{
    clear: both;
}

.otherbooks img{
    height: 150px;
    display: inline-block;
    vertical-align: top;
}

.otherbooks p{
    width: 150px;
    text-align: left;
    display: flex;
}

.about {
    padding-left: 10px;
}

.w3-threequarter{
    padding-right: 25px;
}


ul{
    list-style-type: none;
}

.other-books {
    display: flex;
    justify-content: space-between;
}




.redtext{
    color: red;
    font-weight: bold;
}

.orangetext{
    color: orange;
}

.w3-half{
    padding: 10px;
}

#footer{
    clear: both;
    background-color: rgb(103, 103, 255);
    color: white;
    text-transform: uppercase;
    justify-content: space-between;
    display: flex;
}

#disclaimer{
    clear: both;
    background-color: rgb(103, 103, 255);
    color: white;
    text-transform: uppercase;
    justify-content: space-between;
    display: flex;
    text-align: left;
}

.icon{
    height: 15px;
}

a{
    text-decoration: none;
}

i{
    padding-right: 5px;
}

.footergroup{
    justify-content: space-between;
    text-transform: uppercase;
    text-align: center;
    width: 33%;
}

.footergroup a, #disclaimer a{
    text-decoration: underline;
    text-align: center;
}

#Copyrightfooter{
    padding-left: 100px;
}

.add-to-button{
    color: rgb(255, 255, 255);
    border-radius: 5%;
    padding: 15px;
    border: 2px solid black;
    width: 2em;
    text-align: center;
    background-color: rgb(103, 103, 255);
    box-shadow: 3px 3px 5px;
}